body{
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000;
    min-width: 320px;
}
img{
    max-width: 100%;
    height: auto;
}
h3{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.btn-red{
    background: #f0975c;
    color: #fff;
}
.btn-red:hover{
    background: #d9bf8f;
}
/*============================header==============================*/
.menu-top .navbar{
    margin-bottom: 0;
    background: #f2f2f2;
    font-size: 11px;
}
.navbar-default p.navbar-nav{
    margin-top: 10px;
}
.navbar-default .navbar-nav > li > a{
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover{
    text-decoration: underline;
}
.menu-top .navbar .navbar-right{    
    text-transform: uppercase;
}
.menu-top .container,
.menu-top .navbar-collapse{
    padding-left: 0;
}
.delimeter{
    position: relative;
    top: -1px;
    left: -14px;
}
.menu-carousel .item{
    min-height: 692px;
}
.menu-carousel .bgslide{
    background-size: cover;
    background-position: 20% top;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.menu-carousel .carousel-caption{
    top: 150px;
}
.menu-carousel .carousel-caption h1{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 59px;
}
.menu-carousel .carousel-caption h3{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.menu-carousel .carousel-caption h2{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #000;
}
.menu-carousel .carousel-caption .border-carousel{
    border-style: double;
    border-width: 7px;
    padding: 5px 0 18px;
    text-shadow: none;
    width: 285px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.menu-carousel .carousel-caption .btn-red{
    padding: 11px 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: none;
    font-size: 24px;
    background-color: #f09d66;
}
.menu-carousel .carousel-caption .btn-red:hover{
    text-decoration: none;
    background-color: #f0975c;
    color: #fff;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

@media only screen and (max-width : 767px) {
    .menu-top .navbar-default .navbar-nav > li > a:hover{
        background: #f0975c;
    }
    .menu-top .container,
    .menu-top .navbar-collapse,
    .navbar-default p.navbar-nav{
        padding-left: 15px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .menu-carousel .carousel-caption h1{
        font-size: 50px;
    }
    .menu-carousel .carousel-caption h3{
        font-size: 17px;
    }
    .menu-carousel .carousel-caption h2{
        font-size: 26px;
    }
    .menu-carousel .carousel-caption .border-carousel{
        width: 227px;
    }
}